#splash-container {
  /* min-height: 100%; */
  position: relative;
  display: flex;
  flex-direction: column;
}

#splash-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  height: 100vh;
  position: relative;
}

#splash-header h1 {
  font-size: 80px;
  color: white;
}

#splash-header h3 {
  font-size: 20px;
  color: white;
  margin-top: 0;
}

#splash-header button {
  background-color: white;
  color: #3E3B3B;
  height: 45px;
  width: 150px;
  font-size: 18px;
  margin-top: 20px;
  box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 20%);
}

#splash-container button:hover {
  background-color: rgb(250, 250, 250);
  transition-duration: 0.3s;
}
/* 
#preview-container {
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 20px 0 90px;
}

#preview-container img {
  height: 80px;
} */
