#guide-page {
  min-height: 100%;
  margin: 130px 23vw 0;
  animation: fadeInAnimation ease 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#guide-page h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 50px;
}

#guide-page h3 {
  text-align: center;
  font-weight: 500;
  margin: 0 0 45px;
  font-size: 19px;
}

#skincare-steps-explained {
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

#skincare-steps-explained h4 {
  margin: 0 0 7px;
  font-size: 17px;
}

#skincare-steps-explained p {
  margin: 0 0 35px;
}

.feature-list {
  display: flex;
  align-items: center;
  margin: 35px 0;
}

.feature-list img {
  height: 80px;
  width: auto;
  margin-right: 25px;
}

.feature h4 {
  margin: 0 0 7px;
  font-size: 18px;
}

.feature p {
  margin: 0;
}