/* TODO Add site wide styles */
html {
  height: 100px;
}

body {
  margin: 0;
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
}

h1 {
  font-family: abril-fatface, serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: #3E3B3B;
}

button {
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
  background-color: #79B3C2;
  color: white;
  border: 1px solid transparent;
  border-radius: 14px;
}

button:hover {
  background-color: #72aab8;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #1C2237;
  font-weight: 900;
}