#edit-product-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10px;
}

#left-edit-product-form {
  display: flex;
  flex-direction: column; 
  width: 31vw;
  margin-right: 20px;
}

#left-edit-product-form input {
  margin-bottom: 10px;
  height: 20px;
  padding: 3px 5px 3px;
}

#left-edit-product-form select {
  margin-bottom: 10px;
  padding: 3px;
}

#right-edit-product-form textarea:focus,
#left-edit-product-form select:focus {
  outline-color: lightgray;
}

#right-edit-product-form {
  display: flex;
  flex-direction: column; 
}

#right-edit-product-form textarea {
  /* max-width: 35vw; */
  width: 97%;
  max-height: 100px;
  border-radius: 5px;
  padding: 3px 5px 3px;
  margin-bottom: 10px;
}

.edit-time-box {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}

#edit-time-box-align {
  display: flex;
}

#cancel-edit-product-btn, #delete-product-btn, #update-product-btn {
  float: right;
  margin-top: 10px;
  height: 35px;
  margin-left: 10px;
  font-size: 13px;
}

#delete-product-btn {
  background-color: #808080;
}

#delete-product-btn:hover {
  background-color: #8f8f8f;
}

#edit-product-btn {
  margin-top: 10px;
  height: 35px;
  font-size: 13px;
}

.swal2-popup {
  border-radius: 20px !important;
}

.swal2-title {
  font-family: muli, sans-serif !important;
  font-weight: 800 !important;
  font-style: normal !important;
  color: #1C2237 !important;
  font-size: 27px !important;
}

.swal2-styled.swal2-confirm {
  background-color: #e5aa8b !important;
}

.swal2-styled.swal2-cancel {
  background-color: #bebebe !important;
}

.swal2-actions button {
  font-weight: 700 !important;
  border-radius: 8px !important;
}

.swal2-actions button:focus {
  box-shadow: none !important;
}