#products-page {
  display: grid;
  justify-content: center;
  min-height: 100vh;
  margin-bottom: 400px;
}

#products-page h1 {
  margin: 50px 0 0;
  text-align: center;
}

#product-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-container {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 15px;
  width: 30vw;
}

.product-container img {
  height: 150px;
  width: 150px;
}