#products-page {
  display: grid;
  justify-content: center;
  min-height: 100vh;
  margin-bottom: 400px;
}

#products-page h1 {
  margin: 50px 0 0;
  text-align: center;
}

#product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-container {
  border: 1px solid #e7e5e5;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 15px 25px;
  width: 30vw;
  min-height: 10vh;
  cursor: pointer;
  align-items: center;
}

.product-container:hover {
  border-color: #e5aa8b;
}


.product-container img {
  height: auto;
  width: 80px;
}

.product-container a {
  font-size: 15px;
}

.product-container p {
  color: #707175;
  font-size: 14px;
  font-weight: 200;
}

#products-overview {
  margin: 5px 20px;
}

#products-overview a, #products-overview  h4, #products-overview p {
  margin: 0 0 5px;
}

#products-overview a {
  font-size: 16px;
}

#products-overview  h4 {
  font-size: 15px;
  font-weight: 400;
}