#entry-page {
  position: relative;
  min-height: 100%;
  margin: 110px 17vw 0;
  animation: fadeInAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#nav-entries {
  font-size: 16px;
}

#nav-entries a {
  font-weight: 400;
  font-size: 15px;
  border: 1px solid #e7e5e5;
  padding: 5px 10px;
  border-radius: 10px;
  padding-left: 26px;
}

#nav-entries a:hover {
  background-color: #f7f7f7;
}

#entry {
  display: flex;
  flex-direction: column;
}

#entry h4 {
  text-align: center;
  font-size: 20px;
  margin-top: 0;
}

#entry img {
  max-width: 100%;
  height: auto;
}

#entry-summary {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

#entry-summary h5 {
  font-size: 17px;
  margin: 0;
}

#entry-summary p {
  margin: 0 0 30px;
}

#entry-description h5 {
  font-size: 17px;
  margin: 30px 0 0;
}

#entry-description p {
  word-wrap: break-word;
  width: 66vw;
  margin: 0;
  margin-bottom: 20px;;
}

/* Update Entry */
#edit-btn-container {
  display: flex;
  justify-content: center;
}

#edit-entry-btn {
  height: 35px;
  
}

#entry-form-container {
  display: flex;
  flex-direction: column;
}

#entry-form-container h4 {
  margin: 0 0 10px;
}

#entry-form-container input, #entry-form-container textarea, #entry-form-container select {
  margin-bottom: 10px;
}

#entry-form-container input {
  height: 23px;
  padding: 3px 5px 3px;
}

#entry-form-container select {
  height: 30px;
}

#update-entry-btn, #delete-entry-btn, #cancel-entry-btn {
  float: right;
  margin-top: 10px;
  height: 35px;
  margin-left: 10px;
  font-size: 13px;
}

#cancel-entry-btn, #delete-entry-btn {
  background-color: #808080;
}

#cancel-entry-btn:hover, #delete-entry-btn:hover {
  background-color: #8f8f8f;
}