#products-page .modal {
  margin-bottom: 15px;
}

#product-modal-btn {
  float: right;
  margin: 0 20px 30px 0;
  padding: 8px;
}

#create-product-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#create-product-header {
  text-align: center;
}

#create-product-header p {
  margin: 0 0 40px;
}

#left-product-form {
  display: flex;
  flex-direction: column; 
  width: 270px;
}

#left-product-form input {
  margin-bottom: 10px;
  height: 20px;
  padding: 3px 5px 3px;
}

#left-product-form select {
  margin-bottom: 10px;
  height: 27px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 3px;
}

#right-product-form textarea:focus,
#left-product-form select:focus {
  outline-color: lightgray;
}

#right-product-form {
  display: flex;
  flex-direction: column;
}

#right-product-form textarea {
  max-width: 400px;
  width: 400px;
  max-height: 100px;
  border-radius: 5px;
  padding: 3px 5px 3px;
  margin-bottom: 10px;
}

.time-box {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}

#time-box-align {
  display: flex;
}

#cancel-product-btn, #add-product-btn {
  float: right;
  margin-top: 10px;
  height: 35px;
  margin-left: 10px;
  font-size: 13px;
}

#cancel-product-btn {
  background-color: #808080;
}

#cancel-product-btn:hover {
  background-color: #8f8f8f;
}