#search-container {
  display: flex;
  flex-direction: column;
}

.fa-search {
  color: #1f2024;
  position: absolute;
  top: 8px;
  left: 10px;
}

#search-input {
  height: 28px;
  width: 25vw;
  padding-left: 35px;
  border-radius: 8px;
}

#search-input:hover {
  background-color: #f7f7f7;
}

#search-input:focus {
  outline-width: 0.2px;
  border-color: transparent;
}

#results-container {
  background-color: white;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  z-index: 1;
  width: 440px;
  overflow: auto;
  max-height: 300px;
}

#product-res-container:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

#product-res-container p {
  margin: 0;
  padding: 8px 20px;
}